[submodule "Plugins/TouchEngine-UE4"]
	path = Plugins/TouchEngine-UE4
	url = https://github.com/TouchDesigner/TouchEngine-UE4.git
	
[submodule "Content/ToxLibrary"]
	path = Content/ToxLibrary
	url = https://github.com/vininja/ToxLibrary.git
